.carousel-cell {
    width: 100%; /* full width */
    height: 100%; /* height of carousel */
    min-height: 250px;
    margin-right: 10px;
  }

  .flickity-viewport {
    height: calc(50vh - 20px);	
  }

  .flickity-prev-next-button {
    width: 80px;
    height: 80px;
  }

  .flickity-button-icon {
    fill: #000;
  }

  .progress-bar {
    height: 20px;
    width: 0;
    background: #333;
  }

  @media(max-width: 767px) {
    .flickity-prev-next-button {
      width:40px;
      height: 40px
    }
  }
  
  

